@charset "uft-8";

#header, #container, #content {
    position: relative;
}

.tit_page {
    overflow: hidden;
    width: 1050px;
    margin: 0 auto;
    padding: 55px 0 46px;
}

.tit_page h2.tit {
    font-weight: 800;
    font-family: noto sans;
    font-size: 30px;
    color: #333;
    line-height: 50px;
    text-align: center;
    letter-spacing: -.5px;
}

#main {
    border-bottom: 1px solid #f7f7f7;
}

#content {
	position: relative;
    min-width: 1050px;
    padding-bottom: 120px;
}

#qnb {
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 70px;
    width: 80px;
    font: normal 12px/16px "Noto Sans";
    color: #333;
    letter-spacing: -0.3px;
    transition: top 0.2s;
}

#qnb .bnr_qnb {
    padding-bottom: 7px;
}

#qnb .bnr_qnb .thumb {
    width: 80px;
    height: 120px;
    vertical-align: top;
}

#qnb .side_menu {
    width: 80px;
    border: 1px solid #ddd;
    border-top: 0 none;
    background-color: #fff;
}

#qnb .link_menu {
    display: block;
    height: 29px;
    padding-top: 5px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.page_aticle {
    width: 1050px;
    margin: 0 auto;
}

.page_search .search_box {
    overflow: hidden;
    border-top: 2px solid #5f0080;
    border-bottom: 1px solid #5f0080;
}

.page_search .search_box .tit {
    float: left;
    width: 210px;
    height: 95px;
    padding: 38px 0 0 27px;
}

.page_search .search_box .tit label {
    font-weight: 700;
    font-size: 14px;
    color: #333;
    line-height: 18px;
    letter-spacing: -1px;
}

.page_search .search_box .desc {
    float: right;
    width: 840px;
    padding: 25px 20px 0 0;
}

.page_search .search_box .inp {
    float: left;
    width: 603px;
    height: 45px;
    margin-right: 20px;
    padding-left: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    letter-spacing: -1px;
}

.page_search .search_box .btn_search {
    float: left;
    width: 175px;
    height: 45px;
    background-color: #5f0080;
    color: #fff;
	line-height: 45px;
	cursor: pointer;
}

.page_search .search_result {
    padding: 132px 12px 12px 28px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    color: #333;
}

.page_search .search_result .emph {
    font-weight: 700;
}

/* 상품 이미지 리스트 */
#goodsList .list_goods {
    overflow: hidden;
    padding: 0 29px;
}

#goodsList .list_goods .inner_listgoods {
    overflow: hidden;
    width: 990px;
}

#goodsList .list_goods .list {
    overflow: hidden;
    width: 1008px;
}

#goodsList .list_goods li {
    float: left;
    width: 336px;
    height: 643px;
    padding: 25px 28px 0 0;
}

#goodsList .list_goods .item {
    display: block;
    background-color: #fff;
    cursor: pointer;
}

#goodsList .list_goods .thumb {
    display: block;
    position: relative;
    width: 100%;
    height: 396px;
    background-color: #f9f8f9;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

#goodsList .list_goods .thumb .img {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* 상품 이미지 위 쿠폰 */
.global_sticker {
    display: block;
    position: relative;
    height: 0;
}

.global_sticker .inner_sticker {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
}

.global_sticker .bg_sticker {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 32px;
    background-color: #bd76ff;
    opacity: .9;
}

.global_sticker .txt_sticker {
    position: relative;
    z-index: 1;
}

.global_sticker .txt_sticker .emph_sticker {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
}

#goodsList .list_goods .thumb img {
    width: 100%;
    vertical-align: top;
    transform: scale(1);
    transition: all .5s ease-in-out;
}

#goodsList .list_goods .thumb:hover img {
    transform: scale(1.02); /*이미지 확대 효과*/
    transition: transform.5s;
} 

#goodsList .list_goods .thumb .img:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,.08);
}

/* btn_cart2를 누르면 show and hide and disappear */

#goodsList .list_goods .thumb .group_btn {
    position: absolute;
    z-index: 2;
    right: 15px;
    bottom: 15px;
    width: 45px;
}

.group_btn {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

#goodsList .list_goods .thumb .btn {
    display: block;
    width: 45px;
    height: 45px;
    margin-top: 15px;
    border: 0;
}

#goodsList .list_goods .thumb .btn_cart2 {
    background: url(https://res.kurly.com/pc/ico/2010/ico_cart.svg) no-repeat 50% 50%;
    background-size: 45px 45px;
}

.group_btn .btn {
    overflow: hidden;
    float: left;
    width: 150px;
    height: 42px;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
}

#goodsList .list_goods .info {
    display: block;
    padding: 14px 0 10px;
}

#goodsList .list_goods .name {
    display: block;
    overflow: hidden;
    max-height: 58px;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    line-height: 29px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

#goodsList .list_goods .cost {
    display: block;
    padding-top: 7px;
    font-size: 18px;
    line-height: 29px;
}

#goodsList .list_goods .cost .price {
    font-weight: 800;
    color: #333;
}

#goodsList .list_goods .desc {
    display: block;
    padding-top: 8px;
    font-size: 13px;
    color: #999;
    line-height: 19px;
}

#goodsList .list_goods .tag {
    display: block;
    padding: 12px 10px 10px 0;
    cursor: default;
}

.hide {
    display: none;
    opacity: 0;
}

.disappear {
    animation: fade-out 1s;
    animation-fill-mode: forwards;
}

@webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.layout-pagination {
    margin: 60px 0 0;
    text-align: center;
}

.page_aticle .layout-pagination {
    font-size: 0;
}

.page_aticle .layout-pagination-first-page:first-child {
    border-left: 1px solid #ddd;
}

/* .page_aticle .layout-pagination-button:first-child {
    border-left: 0;
} */

.page_aticle .layout-pagination a {
    cursor: pointer;
}

.page_aticle .layout-pagination a, .page_aticle .layout-pagination strong {
    font-weight: 700;
    font-size: 12px;
}

.layout-pagination-first-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-first.png);
}

.layout-pagination-first-page, .layout-pagination-prev-page, .layout-pagination-next-page, .layout-pagination-last-page {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
}

.layout-pagination-button {
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    border-left: 0;
	vertical-align: top;
	box-sizing: border-box;
}

.layout-pagination-prev-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-prev.png);
}

.layout-pagination-next-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-next.png);
}

.layout-pagination-last-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-last.png);
}



.layout-pagination-number {
    font-weight: 700;
    color: #333;
    line-height: 32px;
}

/* active가 붙을 경우 강조 */
.layout-pagination-button:hover,
.layout-pagination-number:hover, 
.layout-pagination-number.active {
    background-color: #f7f7f7;
    color: #5f0080;
}

.bg_loading {
    position: fixed;
    z-index: 9998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    display: none;
}

.bg_loading.show {
    display: block;
}

.bg_loading.hide {
    display: none;
    opacity: 0;
}

.loading_show {
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    width: 32px;
    height: 32px;
    background: url(https://res.kurly.com/pc/img/1909/img_loading_128x128.gif) no-repeat 50% 50%;
    background-size: 16px 16px;
}

/* 로딩 이미지 구현하기 */

/* search 장바구니 */
#cartPut * {
    font-family: noto sans;
    color: #333;
    letter-spacing: 0;
}

#cartPut .cart_type1 {
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    width: 440px;
    max-height: 600px;
    margin-left: -220px;
    border-radius: 6px;
    background-color: #fff;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    display: none;
}

#cartPut .cart_type1.show {
    display: block;
    -webkit-animation: fade-in 1s;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

#cartPut .cart_type1.hide {
    display: none;
    opacity: 0;
}

#cartPut .cart_type1 .inner_option {
    padding: 0 30px;
}

#cartPut .cart_type1 .btn_close1 {
    display: none;
}

#cartPut .cart_type1 .tit_cart {
    display: block;
    padding: 30px 0 12px;
    border-bottom: 1px solid #333;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.67px;
}

#cartPut .cart_type1 .list_goods {
    width: 380px;
}

#cartPut .cart_type1 .list {
    overflow: hidden;
    overflow-y: auto;
    width: 400px;
    max-height: 355px;
    min-height: 120px;
}

#cartPut .cart_option .list {
    overflow: hidden;
    padding-bottom: 1px;
}

#cartPut .cart_type1 .list li {
    width: 380px;
    padding: 11px 0;
    border-bottom: 1px solid #f4f4f4;
}

#cartPut .cart_type1 .list_nopackage {
    padding-top: 30px;
    min-height: 148px;
}

#cartPut .cart_type1 .list_nopackage li {
    border: 0;
}

#cartPut .cart_type1 .list .btn_position {
    display: none;
}

#cartPut .cart_option .list .btn_position {
    display: block;
    position: relative;
}

#cartPut .cart_option .list .btn_del {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -1px;
    width: 24px;
    height: 24px;
    border: 0;
    background: url(https://res.kurly.com/pc/ico/2010/ico_cartput_del_24x25.svg) no-repeat 50% 50%;
    background-size: 24px 25px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

#cartPut .cart_type1 .list .name {
    font-size: 14px;
    letter-spacing: 0;
}

#cartPut .cart_option .list .name {
    display: block;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -.6px;
}

#cartPut .cart_option .list .option {
    overflow: hidden;
}

#cartPut .cart_type1 .list .option {
    padding-top: 7px;
}

#cartPut .cart_option .list .count {
    overflow: hidden;
    float: left;
    width: 88px;
    height: 30px;
    border: 1px solid #dddfe1;
    border-radius: 3px;
}

#cartPut .cart_type1 .list .count {
    float: right;
}

#cartPut .cart_option .list .btn {
    overflow: hidden;
    float: left;
    width: 28px;
    height: 28px;
    border: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

#cartPut .cart_option .list .up {
    float: right;
    position: relative;
    background: #fff url(https://res.kurly.com/pc/ico/2010/ico_plus.svg) no-repeat 50% 50%;
    background-size: 30px 30px;
}

#cartPut .cart_option .list .up.on {
    background-image: url(https://res.kurly.com/pc/ico/2010/ico_plus_on.svg);
}


#cartPut .cart_option .list .down {
    background: #fff url(https://res.kurly.com/pc/ico/2010/ico_minus.svg) no-repeat 50% 50%;
    background-size: 30px 30px;
}

#cartPut .cart_option .list .down.on {
    background-image: url(https://res.kurly.com/pc/ico/2010/ico_minus_on.svg);
}

#cartPut .cart_option .list .inp {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: -1px;
    padding: 0 0 4px;
    border: 0;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    line-height: 18px;
    text-align: center;
}



#cartPut .cart_option .list .price {
    font-weight: 700;
    text-align: right;
}

#cartPut .cart_type1 .list .price {
    float: left;
    padding: 7px 0 0;
    font-size: 14px;
    letter-spacing: 0;
}

#cartPut .cart_type1 .list .dc_price {
    padding-right: 4px;
    font-weight: 800;
}

#cartPut .cart_type1 .total {
    padding-top: 20px;
}

#cartPut .cart_option .total .price {
    overflow: hidden;
    text-align: right;
}

#cartPut .cart_option .total .tit {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    vertical-align: 2px;
}

#cartPut .cart_type1 .total .tit {
    float: left;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.67px;
    vertical-align: 0;
}

#cartPut .cart_type1 .total .sum {
    float: right;
    margin-top: -1px;
}

#cartPut .cart_option .total .num {
    padding-left: 8px;
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
}

#cartPut .cart_type1 .total .num {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -1px;
}

#cartPut .cart_option .total .won {
    padding-left: 2px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    vertical-align: -1px;
}

#cartPut .cart_type1 .total .won {
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.67px;
    vertical-align: 3px;
}

#cartPut .cart_option .total .txt_point {
    display: block;
    padding-top: 14px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    text-align: right;
}

#cartPut .cart_type1 .total .txt_point {
    padding-top: 6px;
}

#cartPut .cart_option .total .ico {
    display: inline-block;
    width: 38px;
    height: 20px;
    margin-right: 2px;
    border: 1px solid #e8a828;
    border-radius: 10px;
    background-color: #ffbf00;
    font-weight: 700;
    font-size: 11px;
    color: #fff;
    line-height: 18px;
    text-align: center;
    vertical-align: 1px;
}


#cartPut .txt_point .no_login {
    display: block;
}

#cartPut .txt_point .no_login.hide {
    display: none;
}

#cartPut .txt_point .point {
    display: none;
}

#cartPut .txt_point .point.show {
    display: inline;
}



#cartPut .cart_option .group_btn {
    overflow: hidden;
    width: 100%;
}

#cartPut .cart_type1 .group_btn {
    overflow: hidden;
    padding: 20px 0 30px;
}

#cartPut .cart_type1 .group_btn .btn_type2 {
    float: left;
    width: 186px;
    height: 56px;
    border: 1px solid #ddd;
}

#cartPut .cart_option .group_btn .txt_type {
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 2px;
    border: 0;
    background: 0 0;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    line-height: 52px;
    letter-spacing: -.1px;
    text-align: center;
}

#cartPut .cart_option .group_btn .btn_type2 .txt_type {
    color: #333;
}

#cartPut .cart_type3 .group_btn .btn_type1 .txt_type, 
#cartPut .cart_type3 .group_btn .btn_type2 .txt_type {
    width: 100%;
    border: 0;
    border-radius: 3px;
    background: 0 0;
}

#cartPut .cart_option .group_btn .btn_type1 {
    width: auto;
    height: 56px;
}

#cartPut .cart_type1 .group_btn .btn_type1 {
    float: right;
    width: 186px;
    height: 56px;
    background-color: #5f0080;
    color: #fff;
}













/* top 버튼 */
#content #go-top {
    position: fixed;
    z-index: 200;
    right: 31px;
    bottom: 12px;
    width: 58px;
    height: 58px;
    border: 0;
    background: url(https://res.kurly.com/pc/service/common/1903/btn_pagetop_v2.png) no-repeat 50% 50%;
    font-size: 0;
    line-height: 0;
    transition: all 0.5s;
}


